Repository zer0Kerbal/LazTekDev, pull requests merged in 2023-03, with the labels that each got.

#28 Version 1.0.0.0-pre-release `<Oh, behave!>` edition
  GameData/LazTek/LazTekDev/0.9.99.0.htm
  GameData/LazTek/LazTekDev/1.0.0.0.htm
  GameData/LazTek/LazTekDev/Agencies/Agents.cfg
  GameData/LazTek/LazTekDev/Agencies/LazTek.dds
  GameData/LazTek/LazTekDev/Agencies/LazTek_scaled.dds
  GameData/LazTek/LazTekDev/Agencies/LazTek_scaled.truecolor
  GameData/LazTek/LazTekDev/Attributions.htm
  GameData/LazTek/LazTekDev/LazTekDev.version
  GameData/LazTek/LazTekDev/Localization/en-us.cfg
  GameData/LazTek/LazTekDev/ManualInstallation.htm
  GameData/LazTek/LazTekDev/changelog.md
  GameData/LazTek/LazTekDev/readme.htm
  LazTekDev.version
  changelog.md
  docs/ReleaseNotes/1.0.0.0.md
  docs/changelog.md
  json/ksp.json
  json/mod.json
  readme.md
Labels: semantic: release, type: localization

#34 Version 1.0.2.0-prerelease `<I choose love, baby!>` edition
  GameData/LazTek/LazTekDev/1.0.2.0.htm
  GameData/LazTek/LazTekDev/Agencies/license.txt
  GameData/LazTek/LazTekDev/Flags/license.txt
  GameData/LazTek/LazTekDev/LazTekDev.version
  GameData/LazTek/LazTekDev/Localization/en-us.cfg
  GameData/LazTek/LazTekDev/changelog.md
  GameData/LazTek/LazTekDev/readme.htm
  LazTekDev.version
  changelog.md
  docs/ReleaseNotes/1.0.2.0.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: release, type: localization

#38 Added ja.cfg
  GameData/LazTek/LazTekDev/Localization/ja.cfg
Labels: type: localization, hacktoberfest-accepted

#41 Version 1.0.3.0-release `<Arigatō (ありがとう) Paras0750>` edition
  GameData/LazTek/LazTekDev/1.0.3.0.htm
  GameData/LazTek/LazTekDev/Attributions.htm
  GameData/LazTek/LazTekDev/LazTekDev.version
  GameData/LazTek/LazTekDev/Localization/en-us.cfg
  GameData/LazTek/LazTekDev/Localization/ja.cfg
  GameData/LazTek/LazTekDev/changelog.md
  GameData/LazTek/LazTekDev/readme.htm
  LazTekDev.version
  changelog.md
  docs/Attributions.md
  docs/Localizations.md
  docs/ReleaseNotes/1.0.3.0.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: type: localization
